body {
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 100%;
    overflow-x: hidden; 
}

.btn-danger {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-danger:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.card-title {
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

.search-filter-wrapper {
    display: flex;
    flex-direction: row;    
    align-items: center;   
    margin-bottom: 10px;
    gap: 10px;
}

.search-filter-wrapper .dropdown-toggle {
    width: auto;           
    text-align: left;
}

.form-check-input:checked{
    background-color: #ff0000;
    border-color: #ff0000;
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}

#date-filter-wrapper input[type="date"] {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#date-filter-wrapper input[type="date"]:focus {
    border-color: #ff0000; 
    box-shadow: 0 0 0 0.25rem rgba(27, 27, 27, 0.25);
}

@media (max-width: 576px) {
    #date-filter-wrapper {
        flex-direction: column; 
        gap: 10px !important;
    }
    
    #date-filter-wrapper > div {
        width: 100%; 
    }

    #clear-dates-button {
        width: 100%; 
    }

    .input-group {
        flex-wrap: wrap;
    }

    #search-input {
        flex: 0 0 100%;           
        width: 100%;
        margin-bottom: 10px;       
        border-radius: 0.375rem !important; 
        z-index: 0;
    }

    #search-button, 
    #stop-button {
        flex: 1;                    
        border-radius: 0.375rem !important; 
        margin-left: 0 !important; 
    }

    #search-button {
        margin-right: 5px;
    }
    #stop-button {
        margin-left: 5px !important;
    }

    .search-filter-wrapper {
        flex-direction: column; 
        align-items: flex-start;
        gap: 8px;
    }

    .search-filter-wrapper .dropdown-toggle {
        width: 100%;           
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}